@media screen and (max-width: 520px) {
  .container {
    padding-left: 5px;
    padding-right: 5px;
  }

  .main-section-nav {
    padding-left: 5%;
    padding-right: 5%;
  }

  .main-section-form {
    margin-left: 0px;
    margin-right: 0px;
  }
}
