.main-section {
  padding-bottom: 20px;
}

.main-section-nav {
  padding-left: 20%;
  padding-right: 20%;
  margin-left: auto;
  margin-right: auto;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 15px;
}

.nav-link {
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
}

.nav-link-chosen {
  border-radius: 0px;
  border-bottom: 3px solid;
  pointer-events: none;
}

.main-section-form {
  margin-left: 10%;
  margin-right: 10%;
  border-width: 4px;
  border-style: solid;
  border-radius: 30px;
  padding: 20px;
}

.m-file-form {
  display: flex;
  flex-direction: column;
}

.m-file-form > * {
  margin: 5px;
  margin-bottom: 10px;
}

.key-text-input {
  width: 60%;
}

.submit-button {
  width: fit-content;
  border: none;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
  transition: all 0.2s ease-in;
}

.submit-button:hover {
  transition: all 0.2s ease-in;
}
