* {
  box-sizing: border-box;
}

body {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.none {
  display: none;
  width: 0px;
  height: 0px;
}

main {
  /* Чтобы занимал оставшееся пространство */
  flex-grow: 1;
}

footer {
  /* Чтобы footer не уменьшался */
  flex-shrink: 0;
}

a {
  text-decoration: none;
}

*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 3px solid;
}

body::-webkit-scrollbar-thumb,
.left-menu::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 3px solid;
}

input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

.container {
  box-sizing: border-box;
  max-width: 1219px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 55px;
  padding-right: 55px;
}

.ch-link {
  border: none;
  transition: all 0.2s ease-in;
}

.ch-link:hover {
  transition: all 0.2s ease-in;
}

.ch-text-input {
  width: fit-content;
  border-width: 1px;
  border-style: solid;
}

.ch-text-input:focus, .copy-button:hover, .result-text-input:hover {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
  z-index: 2;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
