{% extends "Base.html" %} {% block content %}
<div class="container">
    <div class="main-section">
        <div class="main-section-nav">
            <div class="nav-container">
                <a class="ch-link nav-link nav-link-chosen" href="/get">Взять</a>
                <a class="ch-link nav-link nav-link-other" href="/put">Положить</a>
            </div>
        </div>
        <div class="main-section-form">
            <form class="m-file-form">
                <input type="text" class="ch-text-input key-text-input" placeholder="Введите ключ..." required="true" />
                <input type="submit" class="submit-button" value="Скачать"/>
            </form>
        </div>
    </div>
</div>
{% endblock %}
