{% extends "Base.html" %} {% block content %}
<div class="container">
  <div class="main-section">
    <div class="main-section-nav">
      <div class="nav-container">
        <a class="ch-link nav-link nav-link-other" href="/get">Взять</a>
        <a class="ch-link nav-link nav-link-chosen" href="/put">Положить</a>
      </div>
    </div>
    <div class="main-section-form">
      <form method="POST" class="m-file-form" enctype="multipart/form-data">
        <div>
          <div class="ch-file-input-placeholder">
            <input
              name="loaded_file"
              type="file"
              id="ch-file-input"
              class="ch-file-input none"
            />
            <label for="ch-file-input" class="ch-file-input-block">
              <span class="ch-file-input-button">+</span>
              <span class="ch-file-input-text"
                >Добавить файл</span
              >
            </label>
          </div>
        </div>
        <div class="hour-input-container">
          <p class="hour-input-text">Сохранить на</p>
          <input
            name="life_hours"
            type="number"
            class="ch-text-input hour-text-input"
            min="1"
            max="24"
            {% if form_data is defined %}
            value="{{ form_data['life_hours'] }}"
            {% else %}
            value="1"
            {% endif %}
          />
          <p class="hour-input-text">час(а/ов)</p>
        </div>
        <div>
          <input name="submit" type="submit" class="submit-button" value="Загрузить" />
        </div>
        {% if error_text is defined %}
          <div class="error-message-block">{{ error_text }}</div>
        {% endif %}
      </form>
    </div>
  </div>
</div>
<script src="../static/js/file_input.js"></script>
{% endblock %}
