{% extends "Base.html" %} {% block content %}
<div class="container first-block">
    <div class="main-section">
        <div class="main-section-nav">
            <div class="nav-container">
                <a class="ch-link nav-link nav-link-other" href="/get">Взять</a>
                <a class="ch-link nav-link nav-link-chosen" href="/put">Положить</a>
            </div>
        </div>
        <div class="main-section-form">
            Text 
            <p>A lot of text!</p>
        </div>
    </div>
</div>
{% endblock %}
